
    	<title>分类 - 我的 beego 博客</title>
  	</head>
	
	<body>
	
		
		<div class="container">
			<div class="col-md-9">
                {{range .Task}}
                <div class="page-header">
                    <h1><a href="/topic/view/{{.Id}}">{{.Title}}</a></h1>
                    	
                    <p>
                        {{.Content}}
                    </p>
                </div>
                {{end}} 
			</div>

		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
