{{template "headerb" .}}
<title>Task</title>      
      <!-- start: Content -->
      <div id="content" class="span10">
      
      
      <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="/">Home</a>          
        </li>        
      </ul>
     
      <div class="row-fluid sortable">
        <div class="box span12">
          <div class="box-header" data-original-title>
            <h2><i class="halflings-icon picture"></i><span class="break"></span> Gallery</h2>
            <div class="box-icon">
              <a href="#" id="toggle-fullscreen" class="hidden-phone hidden-tablet"><i class="halflings-icon fullscreen"></i></a>
              <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
              <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
              <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
            </div>
          </div>
          <div class="box-content">
            <div class="masonry-gallery">
                            
               <div id="image" class="masonry-thumb">
                <a style="background:url(/static/img/gallery/gos.png)" title="Sample Image" href="/static/img/gallery/gos.png"><img class="grayscale" src="/static/img/gallery/gos.png" alt="Sample Image"></a>
              </div>   
               <div id="image-3" class="masonry-thumb">
                <a style="background:url(/static/img/gallery/beego.png)" title="Sample Image 3" href="/static/img/gallery/beego.png"><img class="grayscale" src="/static/img/gallery/beego.png" alt="Sample Image 3"></a>
              </div>          
                   <div id="image-2" class="masonry-thumb">
                <a style="background:url(/static/img/gallery/beegoMVC.png)" title="Sample Image 2" href="/static/img/gallery/beegoMVC.png"><img class="grayscale" src="/static/img/gallery/beegoMVC.png" alt="Sample Image 2"></a>
              </div>                     

            </div>
            </div>
        </div><!--/span-->
      
        </div><!--/row-->
    

    </div><!--/.fluid-container<div id="image-1" class="masonry-thumb">
                <a style="background:url(/static/img/gallery/p1.jpg)" title="Sample Image 1" href="/static/img/gallery/p1.jpg"><img class="grayscale" src="/static/img/gallery/p1.jpg" alt="Sample Image 1"></a>
              </div>                                                
                            <div id="image-3" class="masonry-thumb">
                <a style="background:url(/static/img/gallery/p3.jpg)" title="Sample Image 3" href="/static/img/gallery/p3.jpg"><img class="grayscale" src="/static/img/gallery/p3.jpg" alt="Sample Image 3"></a>
              </div>
                            <div id="image-5" class="masonry-thumb">
                <a style="background:url(/static/img/gallery/p5.jpg)" title="Sample Image 5" href="../static/img/gallery/p5.jpg"><img class="grayscale" src="/static/img/gallery/p5.jpg" alt="Sample Image 5"></a>
              </div> 

                             <div id="image-4" class="masonry-thumb">
                <a style="background:url(/static/img/gallery/ml.jpg)" title="Sample Image 4" href="/static/img/gallery/ml.jpg"><img class="grayscale" src="/static/img/gallery/ml.jpg" alt="Sample Image 4"></a>
              </div>

                            -->
  
            <!-- end: Content -->
        </div><!--/#content.span10-->
        </div><!--/fluid-row-->            
     
{{template "footerb"}}    

  


  
</body>
</html>
